

.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.left-section {
  flex: 1;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.left-section img {
  max-width: 100%;
  height: auto;
}

.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.05);
}

.login-box {
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.brand-name {
  font-family: 'Italianno', cursive;
  color: #590743;
  font-size: 2.5rem;

}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9eafa;
}

/* button { */.btn{
  background-color: #590743;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #460531;
}

.register-link {
  margin-top: 1rem;
  font-size: 0.9rem;

}
a.register-link {
  color: #590743;
  text-decoration: none;
}